# Archivos temporales de LaTeX / biber
*.aux
*.bcf
*.blg
*.loa
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb

# PDF generado
main.pdf

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de editor
.vscode/
.idea/